@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "BabyToys-Home";
}

    
    
   

   
        <div class="content-left">
            <div class="content-left-heading"> Danh mục</div>
            <div class="content-left-content">



                <ul>
							<li><a href=#>chau len 3</a>
								<ul>
									<li><a href=#>chau len 3</a></li>
									<li><a href=#>chau len 3</a></li>
									<li><a href=#>chau len 3</a></li>
									<li><a href=#>chau len 3</a></li>
								</ul>
							</li>
							<li><a href=#>chau len 3</a></li>
							<li><a href=#>chau len 3</a></li>
							<li><a href=#>chau len 3</a></li>
						</ul>



            </div>
            <br />
            <div class="content-left-heading">Nổi bật</div>
					<div class="content-left-content">
						<ul>
							<li><a href=#>chau len 3</a>
								<ul>
									<li><a href=#>chau len 3</a></li>
									<li><a href=#>chau len 3</a></li>
									<li><a href=#>chau len 3</a></li>
									<li><a href=#>chau len 3</a></li>
								</ul>
							</li>
							<li><a href=#>chau len 3</a></li>
							<li><a href=#>chau len 3</a></li>
							<li><a href=#>chau len 3</a></li>
						</ul>
					</div>
				</div>
        
        <div class="content-right">
            <div class="slider"></div>
            <div class="list"></div>
                <h1> Sản phẩm mới </h1>
					<div class="endtitle"></div>
					<div class="box-product">
						<div class="image-product">
                            <img src="~/Content/Images/1355137929_75101-160x160.jpg" />
						</div>
							<div class="name">
								<a href=#>Ngậm nướu đa năng số 8 Munchkin 5366</a>
							</div>
							<div class="price">
								<span class="price-new">300,300 đ</span>
							</div>
							<div class="addcart"><a class="button" href=#>Thêm giỏ hàng</a></div>
                          </div>
            <div class="box-product">
						<div class="image-product">
                            <img src="~/Content/Images/1355137929_75101-160x160.jpg" />
						</div>
							<div class="name">
								<a href=#>Ngậm nướu đa năng số 8 Munchkin 5366</a>
							</div>
							<div class="price">
								<span class="price-new">300,300 đ</span>
							</div>
							<div class="addcart"><a class="button" href=#>Thêm giỏ hàng</a></div>
                          </div>
            <div class="box-product">
						<div class="image-product">
                            <img src="~/Content/Images/1355137929_75101-160x160.jpg" />
						</div>
							<div class="name">
								<a href=#>Ngậm nướu đa năng số 8 Munchkin 5366</a>
							</div>
							<div class="price">
                                <span class="price-old">300,300 đ</span>
								<span class="price-new">300,300 đ</span>
							</div>
							<div class="addcart"><a class="button" href=#>Thêm giỏ hàng</a></div>
                          </div>

        </div>
    <div class="clear"></div>

